.button-margin {
    margin-top: 2rem;
}

.cart-image {
    width: 25%;
    border-radius: 8px;
}

.cart-item {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 8px;
}
