
.cart-image {
    width: auto;
    max-height: 100px;
    min-width: 90px;
    margin: 0 .5rem 0 0;
}

.cart-item, .order-item {
    color: var(--off-white-color);
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 2px;
}

.order-text {
    font-size: 1.25rem;
}

.cart-quantity {
    text-align: center;
    border-radius: 2px;
    border: none;
    padding: .75rem;
    width: 3rem;
}

.cart-button {
    background-color: var(--4th-color);
    color: var(--off-white-color);
}

/* Removes arrows on number input on cart */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (min-width: 1024px) {
    .cart-item-container {
        width: 50%;
    }

    .cart-quantity {
        max-width: 3rem;
    }
}
