.search-bar {
    background-color: var(--tertiary-color);
    color: var(--off-white-color);
    padding: 0 1rem 0 1rem;
}

#search {
    border-radius: 2px 0px 0px 2px;
    /* border: var(--4th-color) 1px solid; */
    border: none;
    padding: .5rem;
    width: 80%;
}

#search:focus {
    outline: var(--4th-color) 1.75px solid;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--4th-color);
    border-radius: 0px 5px 5px 0px;
    padding: 1rem;
    border: 1px solid var(--4th-color);
}

@media only screen and (min-width: 1024px) {
    #search {
        width: 50%;
    }
}