.form-container {
  margin: 2rem 0rem 2rem 0rem;
}

.login-card {
    width: 100%;
    padding: 1rem;
    /* box-shadow: 1px 1px var(--shadow-color); */
}

.product-card, .login-card {
  background-color: var(--primary-color);
  color: var(--off-white-color);
  border-radius: 2px;
}

.forgot-password {
  color: var(--5th-color)
}


@media only screen and (min-width: 1024px) {

.login-card {
  width: 40%;
}
.cart-card {
  width: 40%;
}
  
}
