.form-container {
  margin: 2rem 0rem 2rem 0rem;
}

.login-card {
    width: 100%;
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--tertiary-color);
    color: var(--off-white-color);
    /* box-shadow: 1px 1px var(--shadow-color); */
}

.forgot-password {
  color: var(--5th-color)
}


@media only screen and (min-width: 1024px) {

.login-card {
  width: 40%;
}
  
}
