/* MAIN */

:root {
  /* --primary-color: #405587;
  --secondary-color: #b3c9ff;
  --tertiary-color: #87a2e0; */
  /* --primary-color: #33658A;
  --secondary-color: #86BBD8;
  --tertiary-color: #758E4F;
  --4th-color: #F26419; 
  --5th-color: #F6AE2D; */
  --primary-color: #33658A;
  --tertiary-color: #698d88;
  --secondary-color:  #72776b;
   /* accent */
  --4th-color: #7BB2D9; 
  --5th-color: #BFD2BF;
  --off-white-color: #fdfdfd;
  --shadow-color: rgba(0, 5, 17, 0.5);
  --background-color: rgb(120, 120, 120);
}

body,
html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 300;
  scroll-behavior: smooth;
}

nav, footer {
  font-family: 'Montserrat', sans-serif;

}

hr {
  border-top: 1px solid rgb(230,240,239, .3);
}


a {
  text-decoration: none;
  color: var(--off-white-color);
}

body {
  background-color: var(--background-color); 
  font-family: 'Lato', sans-serif;

}


/* Header Section */
.header {
  margin: 1rem 0rem 1rem 0rem;
  text-align: center;
}

/* login + sign-up buttons */
.btn-custom {
  text-transform: uppercase;
  color: #fff;
  background-color: var(--4th-color);
  background-image: linear-gradient(to right, var(--4th-color) 0%, var(--5th-color) 100%);
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
  margin: 16px 0 16px 0;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.5s linear;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px var(--shadow-color);

}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: var(--5th-color);
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

.btn-success:disabled {
  background-color: var(--4th-color);
}


/* PROFILE CLASSES */

.order-image {
  height: 100px;
  width: 90px;
  border-radius: 2px;

}

.order-card {
  /* background-color: var(--tertiary-color); */
  margin: 1rem 0;
  padding: .25rem;
  border-radius: 2px;
}


@media only screen and (min-width: 1024px) {
  .order-image {
      min-height: 200px;
      min-width: 200px;
      border-radius: 2px;
  }

  .order-container {
    width: 60%;
  }

  .order-text-title {
    font-size: 1.75rem;
  }
  .order-text {
    font-size: 1.25rem;
  }

  .order-items {
    
  }
}