.navbar {
  background-color: var(--primary-color);
  color: var(--off-white-color);
  border-color: var(--off-white-color);
}

.nav-link:hover {
  color: var(--4th-color);
}

.nav-link:active {
  color: var(--off-white-color);
}