
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr) );
    grid-gap: 24px;
}

.card-padding {
    padding: 20px;
}

#product:hover{
    transition: top, ease .5;
}

.card-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* need better solution */
/* .card-text {
    height: 325px;
} */
.back-icon {
    background-color: var(--4th-color);
    border-radius: 5px;
    padding: .5rem;
    color: var(--off-white-color);
}

.back-icon:hover {
    color: white;
    text-decoration: none;
}



@media only screen and (min-width: 768px) {
    .flex {
        display: flex;
    }
}